.mdnotes-sidebar {
  width: 20%;
  --hovered-selected-bg: #565b86;
  --hovered-bg: white;
}

.mdnotes-sidebar-note {
  display: flex;
}

.mdnotes-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.mdnotes-sidebar-header > h3 {
  font-size: 1.75rem;
}

.mdnotes-sidebar-newnote {
  cursor: pointer;
  background-color: var(--main-color);
  border: none;
  color: white;
  border-radius: var(--border-radius);
  height: 30px;
  width: 30px;
}

.mdnotes-sidebar-title {
  overflow: hidden;
  width: 100%;
  padding: 5px 5px 5px 0px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: var(--border-radius);
  margin-bottom: 5px;
}

.mdnotes-sidebar-title:hover:not(.mdnotes-sidebar-selectednote) {
  background-color: var(--hovered-bg);
}

.mdnotes-sidebar-selectednote:hover {
  background-color: var(--hovered-selected-bg);
}

.mdnotes-sidebar-title-closebutton {
  opacity: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  padding: 2px 4px 1px;
  background-color: var(--hovered-bg);
  position: absolute;
  color: #818181;
  right: 4px;
}

.mdnotes-sidebar-title:hover > .mdnotes-sidebar-title-closebutton {
  opacity: 1;
}

.mdnotes-sidebar-selectednote > .mdnotes-sidebar-title-closebutton {
  color: #c2c2c2;
  background-color: var(--hovered-selected-bg);
  border: none;
}

.mdnotes-sidebar-title-closebutton:hover {
  opacity: 1;
  color: rgb(255, 62, 62);
}

.mdnotes-sidebar-selectednote > .mdnotes-sidebar-title-closebutton:hover {
  color: rgb(255, 143, 143);
  background-color: var(--hovered-selected-bg);
}

.mdnotes-sidebar-title-closebutton:active {
  opacity: 1;
  color: rgb(206, 86, 86);
}

.mdnotes-sidebar-selectednote > .mdnotes-sidebar-title-closebutton:active {
  color: rgb(219, 144, 144);
  background-color: var(--main-color);
}

.mdnotes-sidebar-textsnippet {
  padding-inline: 5px;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mdnotes-sidebar-selectednote {
  background-color: var(--main-color);
}

.mdnotes-sidebar-selectednote .mdnotes-sidebar-textsnippet {
  color: white;
  font-weight: 700;
}
