.mdnotes-sidebar {
  width: 20%;
}

.mdnotes-sidebar-note {
  display: flex;
}

.mdnotes-sidebar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mdnotes-sidebar-header > h3 {
  font-size: 1.75rem;
}

.mdnotes-sidebar-newnote {
  cursor: pointer;
  background-color: #4a4e74;
  border: none;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 30px;
}

.mdnotes-sidebar-title {
  overflow: hidden;
  width: 100%;
  padding: 7px 3px 7px 0px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;  
}

.mdnotes-sidebar-title:hover:not(.mdnotes-sidebar-selectednote) {
  background-color: rgb(245, 245, 245);
}

.mdnotes-sidebar-title-closebutton {
  opacity: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  padding: 2px 4px;
  background-color: rgb(245, 245, 245);  
  position: absolute;
  color: #818181;
  right: 4px;
}

.mdnotes-sidebar-title:hover > .mdnotes-sidebar-title-closebutton {
  opacity: 1;
}

.mdnotes-sidebar-selectednote > .mdnotes-sidebar-title-closebutton {  
  color: #c2c2c2;
  background-color: #4a4e74;
  border: none;
}

.mdnotes-sidebar-title-closebutton:hover {  
  opacity: 1;
  color: rgb(255, 62, 62);
}

.mdnotes-sidebar-selectednote > .mdnotes-sidebar-title-closebutton:hover {
  color: rgb(255, 143, 143);
  background-color: #4a4e74;
}

.mdnotes-sidebar-title-closebutton:active {  
  opacity: 1;
  color: rgb(206, 86, 86);
}

.mdnotes-sidebar-selectednote > .mdnotes-sidebar-title-closebutton:active {
  color: rgb(219, 144, 144);
  background-color: #4a4e74;
}

.mdnotes-sidebar-textsnippet {
  padding-inline: 5px;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #4a4e74;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mdnotes-sidebar-selectednote {
  background-color: #4a4e74;
}

.mdnotes-sidebar-selectednote .mdnotes-sidebar-textsnippet {
  color: white;
  font-weight: 700;
}