@import url('https://fonts.googleapis.com/css2?family=Karla:wght@100;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600&display=swap');

.quizz-app {
  --border-color: #c5c5c5;
  --bg-color: #f5f7fb;
  --main-color: #4d5b9e;
  --font-color: #293264;
  --button-font-color: #f5f7fb;
  --choice-color: #d6dbf5;
  --correct-color: #94d7a2;
  --wrong-color: #f8bcbc;
  --side-size: 550px;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  width: var(--side-size);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color);
  background-color: var(--bg-color);
}

.quizz-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-width: var(--side-size);
  height: var(--side-size);
  background: url(assets/blob-blue.svg) no-repeat bottom left,
    url(assets/blob-yellow.svg) var(--bg-color) no-repeat top right;
}

.quizz-quizz {
  padding: 40px 75px 20px;
  width: 100%;
  height: 100%;
  background: url(assets/blob-blue.svg) no-repeat -40px 114%,
    url(assets/blob-yellow.svg) var(--bg-color) no-repeat 100% -5%;
}

.quizz-welcome-title {
  font-weight: bold;
  font-size: 31.25px;
  margin-bottom: 10px;
}

.quizz-button {
  cursor: pointer;
  padding: 18px 60px;
  background-color: var(--main-color);
  color: var(--button-font-color);
  border-radius: 15px;
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
}

.quizz-button:hover {
  background-color: #5463af;
}
.quizz-button:active {
  background-color: #4d5a9b;
  transform: translateY(3px);
  transition: transform 0.15s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

.quizz-questionblock hr {
  margin: 15px 0px;
  opacity: 0.2;
}

.quizz-question {
  font-size: 16px;
  font-weight: bold;
}