@import url('https://fonts.googleapis.com/css2?family=Karla:wght@100;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600&display=swap');

.quizz-app {
  --border-color: #c5c5c5;
  --bg-color: #f5f7fb;
  --main-color: #4d5b9e;
  --font-color: #293264;
  --button-font-color: #f5f7fb;
  --choice-color: #d6dbf5;
  --correct-color: #94d7a2;
  --wrong-color: #f8bcbc;
  --side-size: 550px;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  width: var(--side-size);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color);
  background-color: var(--bg-color);
}

.quizz-button {
  cursor: pointer;
  padding: 18px 60px;
  background-color: var(--main-color);
  color: var(--button-font-color);
  border-radius: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.quizz-button:hover,
.quizz-button:active {
  background-color: #5463af;
}

.quizz-button:active {
  transform: translateY(3px);
  transition: transform 0.15s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}
