.tenzies-highscore {
  position: absolute;
  top: 5%;
  z-index: 1;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 30px;
  width: 90%;
  height: 90%;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.281);
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
}

.tenzies-highscore > h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.tenzies-highscore > ol {
  height: 100%;
  font-size: 15px;
  list-style: none;
  overflow-y: auto;
  padding-left: 0%;
}
.tenzies-highscore > ol > li {
  display: flex;
  align-items: center;
  padding: 5px 7px;  
}

.tenzies-highscorebutton {
  width: 40%;
  padding: 4% 4%;
  text-align: center;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 7px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.281);
}

.tenzies-highscorebutton:hover {
  background-color: #4327ff;
}

.tenzies-highscorebutton:active {
  background-color: #4632cc;
  transform: translateY(3px);
  transition: transform 0.15s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

.tenzies-highscore-line-text-date {
  font-size: 11px;
  text-align: right;
}

.tenzies-highscore-currentline {
  background-color: #dae4ff;
  border-radius: 10px;
}

.tenzies-highscore-die {
  width: fit-content;
}

.tenzies-highscore-die > .tenzies-die {
  width: calc(var(--side-size) / 16);
  height: calc(var(--side-size) / 16);
  border-radius: 6px;
  padding: 9%;
  margin-right: 20px;
}
