.tenzies-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  text-align: center;
  margin-bottom: 1%;
}

.tenzies-header-title {
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 2%;
}

.tenzies-header-desc {
  width: 75%;
  font-size: 1.2rem;
}

.tenzies-header-stats {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-around;  
}

.tenzies-header-stats-gathering,
.tenzies-header-stats-time,
.tenzies-header-stats-rolls {
  display: flex;
  flex-flow: column;
  flex-basis: 33%;
}

.tenzies-header-stats-gathering {
  align-items: center;
}

.tenzies-header-die,
.tenzies-header-stats-rollscounter,
.tenzies-header-stats-time-timer {
  font-size: calc(var(--side-size) / 12);
  font-weight: bold;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}

.tenzies-header-stats-title {
  margin-bottom: 10px;
}

.tenzies-header-die .tenzies-die {
  width: calc(var(--side-size) / 12);
  height: calc(var(--side-size) / 12);
}

@media screen and (min-width: 1000px) {
  .tenzies-header-stats-title {
    font-size: 1.2rem;
  }  
}

@media screen and (min-width: 300px) {    
  .tenzies-header-desc {
    width: 90%;    
  }
}