@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  --app-width: 550px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
  color: #222222;  
}

span {
  white-space: pre-wrap;
}

.links {
  width: var(--app-width);
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
}

.links a {
  text-decoration: none;
  opacity: 0.5;
  color: #3b3b3b;
}

.chosen {
  font-weight: bold;
  opacity: 1 !important;
}